body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("bank.jpg");
    background-size: 100%;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 5%;
    margin-bottom: 5%;
}

h1, h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label, input, select, button {
    margin-bottom: 10px;
}

button {
    background-color: #1ab720;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#response {
    margin-top: 20px;
}

#balance-container {
    margin-top: 20px;
}
